# Install Libraries

In [17]:
#!pip install pyodbc

In [18]:
#!pip install tabula-py

# Panggil Libraries

In [11]:
import pyodbc
import pandas as pd

# Buka Database

In [12]:
server = '146.190.109.222,1434'
database = 'AdventureWorks2019'
username = 'auditor'
password = 'basangdata'

In [13]:
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+password)
cursor = cnxn.cursor()

In [14]:
query = 'SELECT * FROM Sales.Customer;'
df_tabel_customer = pd.read_sql(query, cnxn)

C:\Users\aansubarkah\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [15]:
df_tabel_customer

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263
1,2,NaN,1028.0,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12 11:15:07.263
2,3,NaN,642.0,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12 11:15:07.263
3,4,NaN,932.0,4,AW00000004,FF862851-1DAA-4044-BE7C-3E85583C054D,2014-09-12 11:15:07.263
4,5,NaN,1026.0,4,AW00000005,83905BDC-6F5E-4F71-B162-C98DA069F38A,2014-09-12 11:15:07.263
...,...,...,...,...,...,...,...
19815,30114,1985.0,1986.0,7,AW00030114,97154F3D-28F1-4B15-AE03-9518B781ECE3,2014-09-12 11:15:07.263
19816,30115,1987.0,1988.0,6,AW00030115,E4CF8FD5-30A4-4B8E-8FD8-47032E255778,2014-09-12 11:15:07.263
19817,30116,1989.0,1990.0,4,AW00030116,EC409609-D25D-41B8-9D15-A1AA6E89FC77,2014-09-12 11:15:07.263
19818,30117,1991.0,1992.0,4,AW00030117,6F08E2FB-1CD3-4F6E-A2E6-385669598B19,2014-09-12 11:15:07.263
19819,30118,1993.0,1994.0,3,AW00030118,2495B4EB-FE8B-459E-A1B6-DBA25C04E626,2014-09-12 11:15:07.263

## Simpan ke CSV

In [16]:
df_tabel_customer.to_csv('kastemer_lain.csv', sep='\t', index=False)

# Filter Customer

In [19]:
df_tabel_customer_934 = df_tabel_customer[df_tabel_customer.StoreID == 934]

In [20]:
df_tabel_customer_934

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263
19474,29773,933.0,934.0,1,AW00029773,B956A64D-040C-4230-AC9B-B927F7DD1BA7,2014-09-12 11:15:07.263

# Buka data Excel

In [21]:
df_tabel_store = pd.read_excel('Store.xlsx')

In [22]:
df_tabel_store

,BusinessEntityID,Name,SalesPersonID,Demographics,rowguid,ModifiedDate
0,292,Next-Door Bike Store,279,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",A22517E3-848D-4EBE-B9D9-7437F3432304,2014-09-12 11:15:07.497
1,294,Professional Sales and Service,276,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",B50CA50B-C601-4A13-B07E-2C63862D71B4,2014-09-12 11:15:07.497
2,296,Riders Company,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",337C3688-1339-4E1A-A08A-B54B23566E49,2014-09-12 11:15:07.497
3,298,The Bike Mechanics,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",7894F278-F0C8-4D16-BD75-213FDBF13023,2014-09-12 11:15:07.497
4,300,Nationwide Supply,286,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",C3FC9705-A8C4-4F3A-9550-EB2FA4B7B64D,2014-09-12 11:15:07.497
...,...,...,...,...,...,...
696,1988,Retreat Inn,282,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",EA21EC81-1BFA-4A07-9B4D-73D9852AFCBF,2014-09-12 11:15:07.497
697,1990,Technical Parts Manufacturing,281,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",C8E3C4ED-8F58-4DB2-B600-E0CD11D9CFAD,2014-09-12 11:15:07.497
698,1992,Totes & Baskets Company,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",CE860B58-643C-4567-BFD8-06E97969CC67,2014-09-12 11:15:07.497
699,1994,World of Bikes,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",0C10F2B6-A13A-440C-9C25-5B28D482872A,2014-09-12 11:15:07.497
700,2051,A Bicycle Association,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",82237172-D3FE-4A95-82EF-636F655240AD,2014-09-12 11:15:07.497

In [23]:
df_tabel_store_online = pd.read_excel('https://github.com/aansubarkah/sekolahsabtuauditor/raw/main/MembukaDatabase/Store.xlsx')

In [24]:
df_tabel_store_online

,BusinessEntityID,Name,SalesPersonID,Demographics,rowguid,ModifiedDate
0,292,Next-Door Bike Store,279,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",A22517E3-848D-4EBE-B9D9-7437F3432304,2014-09-12 11:15:07.497
1,294,Professional Sales and Service,276,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",B50CA50B-C601-4A13-B07E-2C63862D71B4,2014-09-12 11:15:07.497
2,296,Riders Company,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",337C3688-1339-4E1A-A08A-B54B23566E49,2014-09-12 11:15:07.497
3,298,The Bike Mechanics,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",7894F278-F0C8-4D16-BD75-213FDBF13023,2014-09-12 11:15:07.497
4,300,Nationwide Supply,286,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",C3FC9705-A8C4-4F3A-9550-EB2FA4B7B64D,2014-09-12 11:15:07.497
...,...,...,...,...,...,...
696,1988,Retreat Inn,282,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",EA21EC81-1BFA-4A07-9B4D-73D9852AFCBF,2014-09-12 11:15:07.497
697,1990,Technical Parts Manufacturing,281,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",C8E3C4ED-8F58-4DB2-B600-E0CD11D9CFAD,2014-09-12 11:15:07.497
698,1992,Totes & Baskets Company,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",CE860B58-643C-4567-BFD8-06E97969CC67,2014-09-12 11:15:07.497
699,1994,World of Bikes,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",0C10F2B6-A13A-440C-9C25-5B28D482872A,2014-09-12 11:15:07.497
700,2051,A Bicycle Association,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",82237172-D3FE-4A95-82EF-636F655240AD,2014-09-12 11:15:07.497

In [25]:
df_db_excel = df_tabel_customer_934.merge(df_tabel_store, left_on='StoreID', right_on='BusinessEntityID')

In [26]:
df_db_excel

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid_x,ModifiedDate_x,BusinessEntityID,Name,SalesPersonID,Demographics,rowguid_y,ModifiedDate_y
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263,934,A Bike Store,280,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",80B15702-DF20-4DF9-876C-2CF1C3978D39,2014-09-12 11:15:07.497
1,29773,933.0,934.0,1,AW00029773,B956A64D-040C-4230-AC9B-B927F7DD1BA7,2014-09-12 11:15:07.263,934,A Bike Store,280,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",80B15702-DF20-4DF9-876C-2CF1C3978D39,2014-09-12 11:15:07.497

# Buka PDF

In [27]:
import tabula

In [30]:
df_tabel_sales = tabula.read_pdf('SalesPerson.pdf', pages='all')

In [32]:
df_tabel_sales[0]

,BusinessEntityID,TerritoryID,SalesQuota,Bonus,CommissionPct,SalesYTD,SalesLastYear,rowguid,ModifiedDate
0,274,NaN,NaN,0,0,"559697,5639",0,48754992-9EE0-4C0E-8C94-9451604E3E02,28/12/2010 00:00
1,275,2.0,300000.0,4100,"0,012","3763178,179","1750406,479",1E0A7274-3064-4F58-88EE-4C6586C87169,24/05/2011 00:00
2,276,4.0,250000.0,2000,"0,015","4251368,55","1439156,029",4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0,24/05/2011 00:00
3,277,3.0,250000.0,2500,"0,015","3189418,366","1997186,204",39012928-BFEC-4242-874D-423162C3F567,24/05/2011 00:00
4,278,6.0,250000.0,500,"0,01","1453719,465","1620276,897",7A0AE1AB-B283-40F9-91D1-167ABF06D720,24/05/2011 00:00
5,279,5.0,300000.0,6700,"0,01","2315185,611","1849640,942",52A5179D-3239-4157-AE29-17E868296DC0,24/05/2011 00:00
6,280,1.0,250000.0,5000,"0,01","1352577,133","1927059,178",BE941A4A-FB50-4947-BDA4-BB8972365B08,24/05/2011 00:00
7,281,4.0,250000.0,3550,"0,01","2458535,617",2073506,35326DDB-7278-4FEF-B3BA-EA137B69094E,24/05/2011 00:00
8,282,6.0,250000.0,5000,"0,015","2604540,717","2038234,655",31FD7FC1-DC84-4F05-B9A0-762519EACACC,24/05/2011 00:00
9,283,1.0,250000.0,3500,"0,012","1573012,938","1371635,316",6BAC15B2-8FFB-45A9-B6D5-040E16C2073F,24/05/2011 00:00
10,284,1.0,300000.0,3900,"0,019","1576562,197",0,AC94EC04-A2DC-43E3-8654-DD0C546ABC17,23/09/2012 00:00
11,285,NaN,NaN,0,0,"172524,4512",0,CFDBEF27-B1F7-4A56-A878-0221C73BAE67,07/03/2013 00:00
12,286,9.0,250000.0,5650,"0,018","1421810,924","2278548,978",9B968777-75DC-45BD-A8DF-9CDAA72839E1,23/05/2013 00:00
13,287,NaN,NaN,0,0,"519905,932",0,1DD1F689-DF74-4149-8600-59555EEF154B,09/04/2012 00:00
14,288,8.0,250000.0,75,"0,018","1827066,712","1307949,792",224BB25A-62E3-493E-ACAF-4F8F5C72396A,23/05/2013 00:00
15,289,10.0,250000.0,5150,"0,02","4116871,228","1635823,397",25F6838D-9DB4-4833-9DDC-7A24283AF1BA,23/05/2012 00:00
16,290,7.0,250000.0,985,"0,016","3121616,32","2396539,76",F509E3D4-76C8-42AA-B353-90B7B8DB08DE,23/05/2012 00:00

In [34]:
df_tabel_sales_1 = df_tabel_sales[0]

In [35]:
df_tabel_sales_1

,BusinessEntityID,TerritoryID,SalesQuota,Bonus,CommissionPct,SalesYTD,SalesLastYear,rowguid,ModifiedDate
0,274,NaN,NaN,0,0,"559697,5639",0,48754992-9EE0-4C0E-8C94-9451604E3E02,28/12/2010 00:00
1,275,2.0,300000.0,4100,"0,012","3763178,179","1750406,479",1E0A7274-3064-4F58-88EE-4C6586C87169,24/05/2011 00:00
2,276,4.0,250000.0,2000,"0,015","4251368,55","1439156,029",4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0,24/05/2011 00:00
3,277,3.0,250000.0,2500,"0,015","3189418,366","1997186,204",39012928-BFEC-4242-874D-423162C3F567,24/05/2011 00:00
4,278,6.0,250000.0,500,"0,01","1453719,465","1620276,897",7A0AE1AB-B283-40F9-91D1-167ABF06D720,24/05/2011 00:00
5,279,5.0,300000.0,6700,"0,01","2315185,611","1849640,942",52A5179D-3239-4157-AE29-17E868296DC0,24/05/2011 00:00
6,280,1.0,250000.0,5000,"0,01","1352577,133","1927059,178",BE941A4A-FB50-4947-BDA4-BB8972365B08,24/05/2011 00:00
7,281,4.0,250000.0,3550,"0,01","2458535,617",2073506,35326DDB-7278-4FEF-B3BA-EA137B69094E,24/05/2011 00:00
8,282,6.0,250000.0,5000,"0,015","2604540,717","2038234,655",31FD7FC1-DC84-4F05-B9A0-762519EACACC,24/05/2011 00:00
9,283,1.0,250000.0,3500,"0,012","1573012,938","1371635,316",6BAC15B2-8FFB-45A9-B6D5-040E16C2073F,24/05/2011 00:00
10,284,1.0,300000.0,3900,"0,019","1576562,197",0,AC94EC04-A2DC-43E3-8654-DD0C546ABC17,23/09/2012 00:00
11,285,NaN,NaN,0,0,"172524,4512",0,CFDBEF27-B1F7-4A56-A878-0221C73BAE67,07/03/2013 00:00
12,286,9.0,250000.0,5650,"0,018","1421810,924","2278548,978",9B968777-75DC-45BD-A8DF-9CDAA72839E1,23/05/2013 00:00
13,287,NaN,NaN,0,0,"519905,932",0,1DD1F689-DF74-4149-8600-59555EEF154B,09/04/2012 00:00
14,288,8.0,250000.0,75,"0,018","1827066,712","1307949,792",224BB25A-62E3-493E-ACAF-4F8F5C72396A,23/05/2013 00:00
15,289,10.0,250000.0,5150,"0,02","4116871,228","1635823,397",25F6838D-9DB4-4833-9DDC-7A24283AF1BA,23/05/2012 00:00
16,290,7.0,250000.0,985,"0,016","3121616,32","2396539,76",F509E3D4-76C8-42AA-B353-90B7B8DB08DE,23/05/2012 00:00

In [36]:
df_tabel_sales_1['TerritoryIDx10'] = df_tabel_sales_1['TerritoryID'] * 10

In [37]:
df_tabel_sales_1

,BusinessEntityID,TerritoryID,SalesQuota,Bonus,CommissionPct,SalesYTD,SalesLastYear,rowguid,ModifiedDate,TerritoryIDx10
0,274,NaN,NaN,0,0,"559697,5639",0,48754992-9EE0-4C0E-8C94-9451604E3E02,28/12/2010 00:00,NaN
1,275,2.0,300000.0,4100,"0,012","3763178,179","1750406,479",1E0A7274-3064-4F58-88EE-4C6586C87169,24/05/2011 00:00,20.0
2,276,4.0,250000.0,2000,"0,015","4251368,55","1439156,029",4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0,24/05/2011 00:00,40.0
3,277,3.0,250000.0,2500,"0,015","3189418,366","1997186,204",39012928-BFEC-4242-874D-423162C3F567,24/05/2011 00:00,30.0
4,278,6.0,250000.0,500,"0,01","1453719,465","1620276,897",7A0AE1AB-B283-40F9-91D1-167ABF06D720,24/05/2011 00:00,60.0
5,279,5.0,300000.0,6700,"0,01","2315185,611","1849640,942",52A5179D-3239-4157-AE29-17E868296DC0,24/05/2011 00:00,50.0
6,280,1.0,250000.0,5000,"0,01","1352577,133","1927059,178",BE941A4A-FB50-4947-BDA4-BB8972365B08,24/05/2011 00:00,10.0
7,281,4.0,250000.0,3550,"0,01","2458535,617",2073506,35326DDB-7278-4FEF-B3BA-EA137B69094E,24/05/2011 00:00,40.0
8,282,6.0,250000.0,5000,"0,015","2604540,717","2038234,655",31FD7FC1-DC84-4F05-B9A0-762519EACACC,24/05/2011 00:00,60.0
9,283,1.0,250000.0,3500,"0,012","1573012,938","1371635,316",6BAC15B2-8FFB-45A9-B6D5-040E16C2073F,24/05/2011 00:00,10.0
10,284,1.0,300000.0,3900,"0,019","1576562,197",0,AC94EC04-A2DC-43E3-8654-DD0C546ABC17,23/09/2012 00:00,10.0
11,285,NaN,NaN,0,0,"172524,4512",0,CFDBEF27-B1F7-4A56-A878-0221C73BAE67,07/03/2013 00:00,NaN
12,286,9.0,250000.0,5650,"0,018","1421810,924","2278548,978",9B968777-75DC-45BD-A8DF-9CDAA72839E1,23/05/2013 00:00,90.0
13,287,NaN,NaN,0,0,"519905,932",0,1DD1F689-DF74-4149-8600-59555EEF154B,09/04/2012 00:00,NaN
14,288,8.0,250000.0,75,"0,018","1827066,712","1307949,792",224BB25A-62E3-493E-ACAF-4F8F5C72396A,23/05/2013 00:00,80.0
15,289,10.0,250000.0,5150,"0,02","4116871,228","1635823,397",25F6838D-9DB4-4833-9DDC-7A24283AF1BA,23/05/2012 00:00,100.0
16,290,7.0,250000.0,985,"0,016","3121616,32","2396539,76",F509E3D4-76C8-42AA-B353-90B7B8DB08DE,23/05/2012 00:00,70.0

# Gabung DB x Excel x PDF

In [42]:
df_1_gabungan = df_db_excel.merge(df_tabel_sales_1, left_on='SalesPersonID', right_on='BusinessEntityID')

In [43]:
df_1_gabungan

,CustomerID,PersonID,StoreID,TerritoryID_x,AccountNumber,rowguid_x,ModifiedDate_x,BusinessEntityID_x,Name,SalesPersonID,...,BusinessEntityID_y,TerritoryID_y,SalesQuota,Bonus,CommissionPct,SalesYTD,SalesLastYear,rowguid,ModifiedDate,TerritoryIDx10
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263,934,A Bike Store,280,...,280,1.0,250000.0,5000,"0,01","1352577,133","1927059,178",BE941A4A-FB50-4947-BDA4-BB8972365B08,24/05/2011 00:00,10.0
1,29773,933.0,934.0,1,AW00029773,B956A64D-040C-4230-AC9B-B927F7DD1BA7,2014-09-12 11:15:07.263,934,A Bike Store,280,...,280,1.0,250000.0,5000,"0,01","1352577,133","1927059,178",BE941A4A-FB50-4947-BDA4-BB8972365B08,24/05/2011 00:00,10.0